# Dependencias
node_modules/

# Compilacion / Cache
dist/
.angular/
tmp/

# Variables de entorno
.env
.env.*
!.env.example

# Logs y temporales
*.log
npm-debug.log*
.DS_Store

# Archivos de IDE/Editor
.vscode/
.idea/
