<div class="dialog-box">
  <div class="dialog-header">
    <h2>{{ isEditMode ? "Editar Aula" : "Crear Nueva Aula" }}</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()" class="dialog-body">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del Aula</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Ej. Biología 5to Año"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripcion</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Ej. Curso de biologia para estudiantes"
      />
    </mat-form-field>

    <div class="dialog-actions">
      <button mat-button type="button" (click)="close()">Cancelar</button>
      <button
        mat-flat-button
        class="eco-btn"
        type="submit"
        [disabled]="form.invalid || isLoading"
      >
        @if (isLoading) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          {{ isEditMode ? "Guardar Cambios" : "Crear Aula" }}
        }
      </button>
    </div>
  </form>
</div>
